:host{
    display: block;
	float: right !important; 
    font-size: 30px !important;
    padding-bottom: 0;
	right: 0;
	width: 70px;
	background-color: #996666;
    margin-top: 70px;
	margin-bottom: 48px; 
}